binGO!/
.vs/

*.suo
*.user
*.userosscache
*.tlog/
*.lastbuildstate
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.ipdb
*.manifest
*.res
*.iobj
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*_wpftmp.csproj
*.vspscc
*.vssscc
*.out
*.so
*.dylib
*.obj
*.o


